/*main body*/
body {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Comic Neue', cursive;
}
/*home logo and text divs*/


/*username form*/
.username-area {
    display: flex;
    justify-content: center;
}
.lets-play {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
}

form {
    border-radius: 25px;
    border: 2px solid navy;
}

/*gamepage header*/
.gamepage-heading {
    padding: 40px 0;
}
.gamepage-heading a :hover {
    color: navy;
    font-weight: bold;
}

/*levels*/
.levels-area{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.levels-area button {
    width: 250px;
    align-self: center;
    border-radius: 30px;
    border: 3px navy solid;
    padding: 10px;
    margin: 10px;
}